.navbar-general-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    width: 70vw;
    height: 50px;
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 30px rgba(227, 228, 237, 0.37);
    border: 0px solid rgba(255, 255, 255, 0.18);
    border-radius: var(--M);
    margin: var(--S);
}

.navbar-container{
    display: flex;
    min-width: 60vw;
    justify-content: space-between;
}

.navbar-btns{
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: smaller;
    font-weight: 800;
}

.btns-navbar-conditionals{
    width: 23vw;
    display: flex;
    justify-content: space-between;
}
.navbar-btns:hover{
    color: var(--detail-color);
    
}
